# Se activează rescrierea adreselor.
RewriteEngine On

# Se dezactivează alegerea automată a fișierelor cu extensie.
Options -MultiViews

# /lucrari afișează intern lucrari.html.
RewriteRule ^lucrari/?$ lucrari.html [END,NC]

# Accesul direct la lucrari.html este redirecționat către /lucrari.
RewriteCond %{THE_REQUEST} \s/+(.*/)?lucrari\.html(?:[\s?]) [NC]
RewriteRule ^lucrari\.html$ ./lucrari [R=302,L]

# Se blochează folderele sensibile.
RewriteRule ^(?:config|database|scripts)(?:/|$) - [F,END,NC]

# Se blochează fișierele SQL.
<FilesMatch "\.sql$">
    Require all denied
</FilesMatch>